.propertyForm {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  align-items: center;
}

.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.fitWidth {
  width: 100%;
}

mat-form-field {
  width: 50%;
}

